<% include partials/header %>
<div id="welcome">
<h1>Witaj</h1>

<p> Znajdziesz u nas wiele ofert kempingów w atrakcyjnych cenach. Nie czekaj zacznij szukać</p>
</div>
<hr id="line">
<a href="/campgrounds">View all campgrounds</a>

<% include partials/footer %>